.inputs {
  margin-bottom: 44px;
}

.redirectUnderline {
  margin-top: 26px;
}

@media (max-width: 540px) {
  .inputs {
    margin-bottom: 32px;
  }

  .redirectUnderline {
    margin-top: 16px;
  }
}
