.user {
    font-family: var(--fonte-texto);
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid var(--w4);
    padding-bottom: 32px;
}

.info {
    display: grid;
    gap: 12px;
    color: var(--w9);
}

.infoItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.details {
    text-decoration: underline;
    color: var(--w8);
    font-weight: 300;
}
