.button {
  font-family: var(--fonte-texto);
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  font-size: 20px;
  color: var(--w1);
  background-color: var(--g7);
  padding: 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.button:hover {
  background-color: var(--g8);
}

.transparent {
  background-color: transparent;
  border: 4px solid var(--b5);
  padding: 16px;
  color: var(--b5);
}

.transparent:hover {
  background-color: transparent;
  border-color: var(--b5);
  color: var(--b5);
}

.red {
  background-color: var(--r5);
}

.red:hover {
  background-color: var(--r6);
}

@media (max-width: 540px) {
  .button {
    font-size: 16px;
    padding: 12px;
    gap: 8px;
  }
}
