.nav {
	background-color: var(--w2);
	border: 1px solid var(--w4);
	border-radius: 4px 4px 0 0;
	padding: 20px 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.options {
	display: flex;
	gap: 36px;
}

.link {
	position: relative;
}

.link,
.logout {
	font-size: 20px;
	font-weight: 400;
	color: var(--w10);
}

.logout {
	display: flex;
	gap: 8px;
	align-items: center;
}

.logoutIcon {
	display: block;
	height: 24px;
	width: 24px;
	background: url("../../../assets/account/logout.svg") no-repeat center center;
}

.link:hover::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	background-color: var(--w10);
	position: absolute;
}

.containerContent {
	border: 1px solid var(--w4);
	border-top: none;
	border-radius: 0 0 4px 4px;
	background-color: transparent;
	padding: 48px 32px;
	min-height: 640px;
}

.titulo {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
}

.grid button {
	margin: 0 auto;
}

.orders {
	display: grid;
	gap: 36px;
}

.addressesList {
	display: grid;
	gap: 24px;
}

@media (max-width: 840px) {
	.options {
		gap: 24px;
	}

	.grid {
		grid-template-columns: 1fr;
		gap: 56px;
	}
}

@media (max-width: 540px) {
	.nav {
		border-radius: 4px 4px 0 0;
		padding: 16px 12px;
	}

	.link,
	.logout {
		font-size: 16px;
	}

	.logout {
		gap: 4px;
	}

	.containerContent {
		padding: 20px 12px;
	}

	.grid {
		gap: 36px;
	}

	.titulo {
		font-size: 20px;
	}
}
