.button {
  background-color: var(--b5);
  padding: 12px 48px;
  border-radius: 4px;
  border: none;
  font-family: var(--fonte-texto);
  font-size: 16px;
  text-align: center;
  color: var(--w1);
  letter-spacing: 0.7px;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: var(--b6);
}

@media (max-width: 540px) {
}
