.inputs {
  margin-bottom: 24px;
}

.redirectUnderline {
  margin-top: 32px;
}

@media (max-width: 540px) {
  .inputs {
    margin-bottom: 16px;
  }

  .redirectUnderline {
    margin-top: 24px;
  }
}
