.checkContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  max-width: 400px;
}

.check {
  display: block;
  width: 24px;
  height: 24px;
  border: none;
}

.label {
  text-align: left;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}

@media (max-width: 540px) {
  .checkContainer {
    gap: 8px;
  }

  .check {
    width: 16px;
    height: 16px;
  }

  .label {
    font-size: 12px;
  }
}
