.inputs {
  margin-bottom: 36px;
}

.redirectUnderline {
  margin-top: 32px;
}

@media (max-width: 540px) {
  .inputs {
    margin-bottom: 20px;
  }

  .redirectUnderline {
    margin-top: 16px;
  }
}
