.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: start;
  z-index: 100;
}

.content {
  width: 40vw;
  background-color: var(--w1);
}

.header {
  padding: 24px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--w2);
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: var(--w10);
  letter-spacing: 0.85px;
}

.closeIcon {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../../../../assets/header/close.svg") center center no-repeat;
  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
}

.item {
  border-bottom: 1px solid var(--w2);
  padding: 16px 20px;
  font-size: 20px;
}

.options a.active:after {
  display: none;
}

.closeIcon {
  display: block;
  height: 32px;
  width: 32px;
  background: url("../../../../assets/header/close.svg") no-repeat center center;
}

.logout {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 500;
  color: var(--r5);
}

.logoutIcon {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../../../assets/header/logout.svg") no-repeat center
    center;
}

@media (max-width: 840px) {
  .content {
    width: 380px;
    background-color: var(--w1);
  }
}

@media (max-width: 540px) {
  .content {
    width: 64vw;
  }

  .header {
    padding: 12px 8px;
    border-bottom: 1px solid var(--w4);
  }

  .title {
    font-size: 16px;
  }

  .closeIcon {
    height: 20px;
    width: 20px;
    background: url("../../../../assets/header/close-small.svg");
  }

  .item {
    border-bottom: 1px solid var(--w2);
    padding: 10px 8px;
    font-size: 14px;
  }

  .logoutIcon {
    width: 16px;
    height: 16px;
    background-image: url("../../../../assets/header/logout-small.svg");
  }
}
