.intro {
	display: grid;
	grid-template-columns: 5fr 7fr;
	margin-bottom: 32px;
}

.containerTitle {
	background-color: var(--w2);
	border: 1px solid var(--w4);
	border-right: none;
	border-radius: 4px 0 0 4px;
	padding: 24px;
	line-height: 1.2;
	display: grid;
	align-content: center;
}

.containerTitle h1 {
	font-size: 32px;
	font-weight: 500;
	color: var(--g12);
}

.containerText {
	background-color: transparent;
	border: 1px solid var(--w4);
	border-radius: 0 4px 4px 0;
	padding: 24px;
	display: grid;
	align-content: center;
}

.containerText p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
	color: var(--w9);
}

@media (max-width: 840px) {
	.intro {
		grid-template-columns: 1fr;
		margin-bottom: 24px;
	}

	.containerTitle {
		text-align: center;
		border-radius: 4px 4px 0px 0px;
		border-right: 1px solid var(--w4);
		border-bottom: none;
		padding: 12px 0px;
	}

	.containerTitle h1 {
		font-size: 28px;
	}

	.containerText {
		padding: 12px 16px;
		border-radius: 0px 0px 4px 4px;
	}

	.containerText p {
		font-size: 16px;
	}
}

@media (max-width: 540px) {
	.intro {
		margin-bottom: 16px;
	}

	.containerTitle {
		padding: 8px 0px;
	}

	.containerTitle h1 {
		font-size: 16px;
	}

	.containerText {
		padding: 8px 12px;
	}

	.containerText p {
		font-size: 12px;
	}
}
