.container {
  margin: 0 auto;
  max-width: 1000px;
}

.gridBag {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 80px;
}

.titleBag {
  margin-bottom: 28px;
}

.content {
  border: 1px solid var(--w4);
  border-radius: 4px;
}

.titleResumo {
  text-align: center;
  margin-bottom: 28px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 24px;
  font-weight: 300;
  color: var(--w10);
  margin-bottom: 44px;
}

.total strong {
  font-weight: 500;
}

.item {
  border-bottom: 1px solid var(--w2);
}

@media (max-width: 540px) {
  .gridBag {
    grid-template-columns: 1fr;
    gap: 36px;
  }

  .titleBag,
  .titleResumo {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
  }

  .total {
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
