.footer {
	margin-top: 120px;
	background-color: var(--w10);
	display: flex;
	place-content: center;
	text-align: center;
	padding: 16px 0;
}

.logo {
	display: block;
	width: 141px;
	height: 27px;
	background: url("../../../assets/logo/logo-m-w.svg") no-repeat center center;
}

@media (max-width: 540px) {
	.footer {
		padding: 8px 0;
	}

	.logo {
		width: 94px;
		height: 18px;
		background-image: url("../../../assets/logo/logo-w-xs.svg");
	}
}
