.gridProduct {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 38px;
	margin-bottom: 52px;
}

.gridProduct,
.info {
	font-family: var(--fonte-texto);
}

.titulo {
	font-weight: 500;
	font-size: 36px;
	color: var(--w10);
	margin-bottom: 16px;
}

.stock {
	font-weight: 300;
	font-size: 16px;
	color: var(--w9);
}

.header {
	margin-bottom: 24px;
}

.subtitulo {
	font-size: 32px;
	font-weight: 400;
	color: var(--w10);
	margin-bottom: 20px;
}

.subtitulo::after {
	content: "";
	display: block;
	width: 48px;
	height: 3px;
	border-radius: 2px;
	background-color: var(--g7);
}

.texto {
	margin-bottom: 44px;
}

.texto,
.lista {
	max-width: 75ch;
	font-size: 20px;
	color: var(--w9);
	line-height: 1.5;
}

.lista {
	font-weight: 300;
	line-height: 1.7;
}

.lista strong {
	font-weight: 400;
}

.separator {
	display: block;
	height: 1px;
	background-color: var(--w2);
	border: none;
	margin-bottom: 28px;
}

.valores {
	display: grid;
	gap: 0px;
	justify-content: start;
	margin-bottom: 44px;
}

.total {
	font-weight: 600;
	font-size: 24px;
	color: var(--r5);
}

.parcelamento {
	display: flex;
	align-items: center;
	gap: 2px;
}

.cardIcon {
	display: block;
	width: 32px;
	height: 32px;
	background: url("../../../assets/product/credit_card.svg") no-repeat center
		center;
}

.parcelas {
	font-weight: 300;
	color: var(--w8);
	font-size: 20px;
}

.label {
	font-weight: 400;
	color: var(--w10);
	font-size: 24px;
	margin-bottom: 8px;
}

.colorsContainer {
	margin-bottom: 36px;
}

.quantityContainer {
	margin-bottom: 72px;
}

.colors {
	display: flex;
	gap: 8px;
	flex-wrap: wrap;
}

@media (max-width: 840px) {
	.gridProduct {
		grid-template-columns: 1fr;
		gap: 12px;
		padding: 0px;
		margin-bottom: 56px;
	}

	.header {
		text-align: center;
	}

	.titulo {
		margin-bottom: 0px;
	}

	.separator {
		margin-bottom: 20px;
	}

	.valores {
		text-align: center;
		justify-content: stretch;
		margin-bottom: 16px;
	}

	.parcelamento {
		justify-content: center;
	}

	.cardIcon {
		display: none;
	}

	.form {
		border: 1px solid var(--w2);
		border-radius: 4px;
		padding: 12px 16px 0px 16px;
		margin-bottom: 44px;
	}

	.btn {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 540px) {
	.gridProduct {
		gap: 12px;
		padding: 0px;
		margin-bottom: 44px;
	}

	.header {
		margin-bottom: 12px;
	}

	.titulo {
		font-size: 24px;
	}

	.subtitulo::after {
		width: 32px;
		height: 2px;
	}

	.tipo {
		font-size: 14px;
	}

	.separator {
		margin-bottom: 12px;
	}

	.valores {
		text-align: center;
		justify-content: stretch;
		margin-bottom: 16px;
	}

	.total {
		font-size: 16px;
	}

	.parcelas {
		font-size: 14px;
	}

	.form {
		padding: 8px 8px 16px 8px;
		margin-bottom: 32px;
	}

	.label {
		font-size: 16px;
		margin-bottom: 4px;
	}

	.colorsContainer {
		margin-bottom: 20px;
	}

	.colors {
		gap: 4px;
	}

	.quantityContainer {
		margin-bottom: 0px;
	}

	.subtitulo {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.texto,
	.lista {
		font-size: 12px;
	}

	.texto {
		margin-bottom: 24px;
	}
}
